<div class="p-fluid ">
    <!--  <h1 class="title">Mis tareas</h1>
    <div class="input-container">
        <input type="text" id="fname" name="fname">
        <button>+</button>
    </div> -->



    <mat-card class="my-list-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Mi Lista de Tareas</mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <mat-form-field class="question-form">
                <mat-label>Tienes algo pendiente para hoy?</mat-label>
                <input #titleTask matInput placeholder="Ingrese una tarea" (keyup.enter)="addNewTask(titleTask.value)" [value]="taskValue">
            </mat-form-field>

            <ul class="card-list">
                <li *ngFor="let list of listTask" [ngClass]="{'line-through-text':list.checked}">
                    <input type="checkbox" id="list.id" value="first_checkbox" [checked]="list.checked" (click)="this.checkTask(list.id)">{{list.title}}
                </li>
            </ul>
        </mat-card-content>
        <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>
</div>