.card-list {
    list-style: none;
    line-height: 2em;
    overflow: auto;
    max-height: 20em;
}

.card-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.card-list::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.card-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #018793
}

.title {
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-list-card {
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    color: #ffffff;
    height: 30em;
}

.question-form {
    padding: 1em;
    font-size: 1.25rem;
}

.mat-form-field {
    width: 100%;
    padding: 0;
    padding-top: 1em;
}

.mat-card-header {
    display: block;
}

.line-through-text {
    text-decoration: line-through;
}

.content-card-top {
    padding-top: 1em;
}